* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cta {
    width: 100%;
    height: 490px;
    top: 4280px;
    background: #2EC5CE;
    position: absolute;
}

.ctaPhoneMockup2 {
    position: absolute;
    width: 230px;
    height: 465px;
    left: 1105px;
    top: 88px;
}

.ctaScreen2 {
    position: absolute;
    width: 200px;
    height: 440px;
    left: 15px;
    top: 15px;
}

.ctaIphoneX2 {
    position: absolute;
    width: 230px;
    height: 465px;
}

.ctaPhoneMockup1 {
    position: absolute;
    width: 230px;
    height: 465px;
    top: -15px;
    left: 840px;
}

.ctaScreen1 {
    position: absolute;
    width: 200px;
    height: 440px;
    left: 15px;
    top: 15px;
}

.ctaIphoneX1 {
    position: absolute;
    width: 230px;
    height: 465px;
    top: 15px;
}

.ctaContent {
    position: absolute;
    width: 540px;
    height: 356px;
    left: 225px;
    top: 70px;
    gap: 50px;
}

.ctaMessage {
    width: 540px;
    height: 230px;
    gap: 10px;
}

.ctaHeading {
    width: 540px;
    height: 130px;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;
}

.ctaDescription {
    position: absolute;
    width: 540px;
    height: 95px;
    top: 135px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.getTheApp {
    position: absolute;
    width: 280px;
    height: 75px;
    top: 280px;
    gap: 10px;
}

.ctaSubTitle {
    width: 105px;
    height: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.ctaBadges {
    position: absolute;
    width: 280px;
    height: 40px;
    top: 35px;
    gap: 15px;
}

.ctaGooglePlay {
    position: absolute;
    width: 135px;
    height: 40px;
}

.ctaAppStore {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 145px;
}