* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cta {
    width: 1440px;
    height: 490px;
    top: 4280px;
    background: #2EC5CE;
}

.phoneMockup2 {
    position: absolute;
    width: 230px;
    height: 465px;
    left: 1045px;
    top: 88px;
}

.ctaScreen2 {
    position: absolute;
    width: 200px;
    height: 440px;
    left: 15px;
    top: 15px;
}

.iphoneX2 {
    position: absolute;
    width: 230px;
    height: 465px;
}

.phoneMockup1 {
    position: absolute;
    width: 230px;
    height: 465px;
    top: -15px;
    left: 780px;
}

.ctaScreen1 {
    position: absolute;
    width: 200px;
    height: 440px;
    left: 15px;
    top: 15px;
}

.iphoneX1 {
    position: absolute;
    width: 230px;
    height: 465px;
    top: 15px;
}

.content {
    position: absolute;
    width: 540px;
    height: 356px;
    left: 165px;
    top: 70px;
    gap: 50px;
}

.ctaMessage {
    width: 540px;
    height: 230px;
    gap: 10px;
}

.sectionHeading {
    width: 540px;
    height: 130px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;
}

.description {
    position: absolute;
    width: 540px;
    height: 95px;
    top: 135px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.getTheApp {
    position: absolute;
    width: 280px;
    height: 75px;
    top: 280px;
    gap: 10px;
}

.subTitle {
    width: 105px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.badges {
    position: absolute;
    width: 280px;
    height: 40px;
    top: 35px;
    gap: 15px;
}

.googlePlay {
    position: absolute;
    width: 135px;
    height: 40px;
}

.appStore {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 145px;
}