.cta {
    /* CTA / 6 */

    width: 1440px;
    height: 491px;

    /* Brand / Turquoise */

    background: #2EC5CE;

    /* Inside auto layout */

    flex: none;
    order: 7;
    flex-grow: 0;
}

.phonemockup1 {
    /* Phone Mockup 1 */

    position: absolute;
    width: 232px;
    height: 464px;
    left: 779px;
    top: -93px;

    /* Mobile Mockup Shadow */

    filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}

.phonemockup2 {
    /* Phone Mockup 2 */

    position: absolute;
    width: 232px;
    height: 464px;
    left: 1043px;
    top: 88px;

    /* Mobile Mockup Shadow */

    filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}

.ctacontent {
/* Content */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 540px;
height: 356px;
left: 165px;
top: calc(50% - 356px/2 + 0.5px);
}

.ctamessage {
/* CTA Message */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 540px;
height: 232px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: center;
flex-grow: 0;
}

.ctasectionheading {
/* Section Heading */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 540px;
height: 232px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.ctasectionheading2 {
/* Section Heading */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 540px;
height: 128px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

h2 {
/* Section Title */


width: 540px;
height: 128px;

/* Heading / H2 */

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
/* or 133% */

font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */

color: #18191F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

p {
/* Description */

width: 540px;
height: 96px;

/* Lead / Lead 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */

font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */

color: #18191F;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.gettheapp {
    /* Get the App */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 282px;
    height: 76px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
}

.label {
    width: 104px;
    height: 28px;

    /* Subtitle / Subtitle 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
}

.badges {
    /* Badges */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 282px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
}

.google-play-badge {
    /* Download Badge / Google Play Badge */


    width: 135px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.app-store-badge {
    /* Download Badge / App Store Badge */


    width: 135px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}