* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    width: 1440px;
    height: 280px;
    top: 4770px;
    background: #0B0D17;
    position: absolute;
}

.leftSection {
    position: absolute;
    width: 490px;
    height: 170px;
    top: 55px;
    left: 165px;
    gap: 25px;
}

.logo {
    width: 30px;
    height: 30px;
}

.links {
    position: absolute;
    width: 490px;
    height: 65px;
    top: 55px;
    gap: 15px;
}

.linkRow1 {
    width: 200px;
    height: 25px;
    gap: 25px;
}

.labelDownloadNow {
    width: 115px;
    height: 25px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.labelLicense {
    position: absolute;
    width: 60px;
    height: 25px;
    left: 140px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.linkRow2 {
    position: absolute;
    width: 490px;
    height: 25px;
    top: 40px;
    gap: 25px;
}

.labelAbout {
    width: 45px;
    height: 25px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.labelFeatures {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 70px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.labelPricing {
    position: absolute;
    width: 50px;
    height: 25px;
    left: 160px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.labelCareers {
    position: absolute;
    width: 60px;
    height: 25px;
    left: 240px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.labelHelp {
    position: absolute;
    width: 35px;
    height: 25px;
    left: 320px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.labelPrivacyPolicy {
    position: absolute;
    width: 110px;
    height: 25px;
    left: 380px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.copyright {
    position: absolute;
    width: 275px;
    height: 25px;
    top: 90px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #D9DBE1;
}

.footerBadges {
    position: absolute;
    width: 160px;
    height: 140px;
    left: 1115px;
    top: 55px;
    gap: 15px;
}

.footerSubTitle {
    width: 160px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #D9DBE1;
}

.footerAppStore {
    position: absolute;
    width: 135px;
    height: 40px;
    top: 45px;
}

.footerGooglePlay {
    position: absolute;
    width: 135px;
    height: 40px;
    top: 100px;
}