* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 1440px;
    height: 865px;
}

.header {
    width: 1440px;
    height: 70px;
}

.leftNav {
    width: 565px;
    height: 30px;
    top: 20px;
    left: 165px;
    gap: 35px;
    position: absolute;
}

.dark {
    width: 105px;
    height: 30px;
}

.navItems {
    width: 430px;
    height: 20px;
    top: 5px;
    left: 135px;
    gap: 35px;
    position: absolute;
}

.about {
    width: 40px;
    height: 20px;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
}

.products {
    width: 60px;
    height: 20px;
    left: 75px;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
}

.pricing {
    width: 50px;
    height: 20px;
    left: 165px;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
}

.blog {
    width: 30px;
    height: 20px;
    left: 245px;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
}

.jobs {
    width: 35px;
    height: 20px;
    left: 310px;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
}

.more {
    width: 60px;
    height: 20px;
    left: 375px;
    gap: 5px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
}

.chevron {
    width: 20px;
    height: 20px;
    top: 2px;
    left: 420px;
    position: absolute;
}

.rightNav {
    width: 280px;
    height: 40px;
    top: 15px;
    left: 995px;
    gap: 15px;
    position: absolute;
}

.googlePlayBadge {
    width: 135px;
    height: 40px;
}

.appStoreBadge {
    width: 135px;
    height: 40px;
    left: 150px;
    position: absolute;
}

.content {
    width: 730px;
    height: 275px;
    left: 165px;
    top: 240px;
    gap: 35px;
    position: absolute;
}

.heading {
    width: 730px;
    height: 200px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 70px;
    line-height: 95px;
}

.button {
    width: 155px;
    height: 50px;
    top: 230px;
    border-radius: 5px;
    border-color: #8C30F5;
    padding: 12px 32px 12px 32px;
    gap: 10px;
    position: absolute;
    background-color: #8C30F5;
}

.getStarted {
    width: 90px;
    height: 25px;
    top: 10px;
    left: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.phoneMockup {
    position: absolute;
    width: 350px;
    height: 640px;
    left: 925px;
    top: 170px;
}

.iphonex {
    width: 320px;
    height: 640px;
    left: 15px;
    position: absolute;
}

.screen {
    width: 280px;
    height: 605px;
    top: 20px;
    left: 35px;
    position: absolute;
}

.backGround {
    width: 1440px;
    height: 865px;
}