* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoclouds {
    height: 1440px;
    top: 865px;
    position: absolute;
}

.logoSection {
    width: 1110px;
    height: 110px;
    top: 15px;
    left: 165px;
    gap: 25px;
    position: absolute;
}

.dividerTop {
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.logos {
    width: 890px;
    height: 60px;
    top: 25px;
    left: 110px;
    padding: 16px 0px 16px 0px;
    gap: 65px;
    position: absolute;
}

.dividerBottom {
    width: 1110px;
    height: 1px;
    top: 110px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.logocloudsAirbnb {
    width: 90px;
    height: 30px;
    top: 15px;
    position: absolute;
}

.logocloudsHubSpot {
    width: 85px;
    height: 25px;
    top: 15px;
    left: 155px;
    position: absolute;
}

.logocloudsGoogle {
    width: 85px;
    height: 25px;
    top: 15px;
    left: 300px;
    position: absolute;
}

.logocloudsMicroSoft {
    width: 125px;
    height: 25px;
    top: 15px;
    left: 450px;
    position: absolute;
}

.logocloudsWalmart {
    width: 110px;
    height: 25px;
    top: 15px;
    left: 635px;
    position: absolute;
}

.logocloudsFedex {
    width: 80px;
    height: 25px;
    top: 15px;
    left: 810px;
    position: absolute;
}

.dividerBottom {
    position: absolute;
    width: 1110px;
    height: 1px;
    top: 110px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}