* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonial {
    width: 1440px;
    height: 895px;
    top: 1680px;
    background-color: #D5FAFC;
    position: absolute;
}

.testimonialHeading {
    width: 445px;
    height: 170px;
    left: 260px;
    top: 120px;
    gap: 10px;
    position: absolute;
}

.testimonialTitle {
    width: 445px;
    height: 130px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;
}

.testimonialDescription {
    position: absolute;
    width: 445px;
    height: 30px;
    top: 135px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.testimonial3 {
    width: 350px;
    height: 470px;
    left: 355px;
    top: 310px;
    padding: 30px;
    gap: 35px;
    border-radius: 10px;
    position: absolute;
    background-color: #FFFFFF;
}

.testimonialHubSpot {
    width: 140px;
    height: 40px;
    top: 30px;
    left: 30px;
    position: absolute;
}

.content3 {
    width: 285px;
    height: 330px;
    top: 105px;
    left: 30px;
    gap: 20px;
    position: absolute;
}

.smallQouteMark {
    width: 15px;
    height: 15px;
}

.feedBackAndDetails3 {
    width: 255px;
    height: 330px;
    left: 30px;
    gap: 25px;
    position: absolute;
}

.feedback3 {
    width: 255px;
    height: 255px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.details3 {
    width: 150px;
    height: 50px;
    top: 280px;
    position: absolute;
}

.labelFloydMiles {
    width: 100px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.labelVicePresidentGoPro {
    width: 145px;
    height: 25px;
    top: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #969BAB;
    position: absolute;
}

.testimonial2 {
    width: 350px;
    height: 275px;
    left: 735px;
    top: 540px;
    padding: 30px;
    gap: 35px;
    border-radius: 10px;
    position: absolute;
    background-color: #FFFFFF;
}

.testimonialBookMyShow {
    width: 135px;
    height: 40px;
    top: 30px;
    left: 30px;
    position: absolute;
}

.content2 {
    width: 285px;
    height: 140px;
    top: 105px;
    left: 30px;
    gap: 20px;
    position: absolute;
}

.feedBackAndDetails2 {
    width: 255px;
    height: 140px;
    left: 30px;
    gap: 25px;
    position: absolute;
}

.feedback2 {
    width: 255px;
    height: 65px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.details2 {
    width: 180px;
    height: 50px;
    top: 90px;
    position: absolute;
}

.labelKriston {
    width: 130px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.labelCofounder {
    width: 180px;
    height: 25px;
    top: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #969BAB;
}

.testimonial1 {
    width: 445px;
    height: 340px;
    left: 735px;
    top: 170px;
    padding: 30px;
    gap: 35px;
    border-radius: 10px;
    position: absolute;
    background-color: #FFFFFF;
}

.testimonialAirbnb {
    width: 130px;
    height: 40px;
    top: 30px;
    left: 30px;
    position: absolute;
}

.content1 {
    width: 380px;
    height: 205px;
    top: 105px;
    left: 30px;
    gap: 20px;
    position: absolute;
}

.feedBackAndDetails1 {
    width: 350px;
    height: 205px;
    left: 30px;
    gap: 25px;
    position: absolute;
}

.feedback1 {
    width: 350px;
    height: 130px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.details1 {
    width: 110px;
    height: 50px;
    top: 150px;
    position: absolute;
}

.labelCooper {
    width: 115px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.labelAirbnb {
    width: 80px;
    height: 25px;
    top: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #969BAB;
    position: absolute;
}

.quoteMark {
    position: absolute;
    width: 145px;
    height: 120px;
    left: 165px;
    top: 65px;
}